<table class="ui table">
  <thead>
    <tr>
      <th>Link</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each bookmark.links}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          <a href="{{link}}"target="_blank">{{link}}</a>
        </td>
        <td>
          <a href="/bookmark/{{../bookmark.id}}/deletelink/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>